build/
.pytest_cache/
.venv/
artifacts/
coverage/
*.tar.gz
*.log
**tmp/
**.code-workspace

# secrets
**/.secrets/

# terraform
*.tfstate
*.tfstate.backup
.terraform/
**/ips_to_remove*.txt
**/terraform.tfvars